.register {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 529px;
    font-size: 20px;
}

.register > p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 49px;
}

.register > button:nth-of-type() {
    margin-bottom: 32px;
}

.nameForm {
    display: flex;
    column-gap: 24px;
    width: 100%
}

#submit {
    border: none; 
    border-radius: 7px;
    margin-top: 16px;
    width: 100%;
    height: 50px;
    background-color: #ff6939;
    font-size: 18px;
    font-weight: 700;
    color: #190F27;
}

.termsWrapper {
    display: flex;
    margin-top: 10px;
    height: 24px;
    align-items: center;
    color: #64606A;
    font-size: 14px;
    line-height: 22px;
}

.termsWrapper > span {
    margin-left: 5px;
}

.termsWrapper > a {
    margin-left: 5px;
    color: #64606A;
    text-decoration: underline;
}

.login {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    height: 22px;
    font-weight: 500;
    color: #64606A;
}

.login > a {
    color: #64606A;
    text-decoration: underline;
    margin-left: 5px;
}

