.bgImage {
    width: 100%;
    height: 100%;
    background-image: url(../images/webp/image69.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 528px;
    font-size: 24px;
}

.login > p {
    margin-top: 88px;
    margin-bottom: 48px;
    font-weight: 500;
    color: #190F27;
}

.login > button:nth-of-type(2) {
    margin-bottom: 32px;
}

#submit {
    border: none; 
    border-radius: 7px;
    margin-top: 16px;
    width: 100%;
    height: 50px;
    background-color: #ff6939;
    font-size: 18px;
    font-weight: 700;
    color: #190F27;
}

.checkboxInput {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

#rememberCheckbox {
    display: none;
}

label[for="rememberCheckbox"] {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    color: #64606a;
}

label[for="rememberCheckbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top:50%;
    display: inline-block;
    transform: translateY(-50%);
    border: 2px solid #aaa;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked + label[for="rememberCheckbox"]::before {
    content: "\2713";
    background-color: #284642;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

a, .register {
    font-size: 14px;
    color: #64606a;
}

.inline {
    display: inline;
}

@media (max-width: 600px){
    a{
        font-size: 12px
    }
    label[for="rembemberCheckbox"] {
        font-size: 12px;
    }
    .register > button {
        font-size: 12px;
    }
}