.bgImage {
    width: 100%;
    height: 100%;
    background-image: url(../images/webp/image69.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.recovery {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    max-width: 528px;
    font-size: 24px;
}

.recovery > .title {
    margin-top: 88px;
    margin-bottom: 48px;
    font-weight: 500;
    color: #190F27;
}

.recovery > .subtitle {
    font-size: 18px;
    color: #64606A;
    line-height: 30px;
}

.toLogin {
    font-size: 14px;
    color: #64606a;
    margin-top: 16px;
}

.toLogin > a {
    color: #64606a;
}